In [ ]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: matplotlib in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (3.10.3)
Requirement already satisfied: seaborn in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (1.7.1)
Requirement already satisfied: openpyxl in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\johnp\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\johnp\appdata\roaming\python\python313\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: scipy>=1.8.0 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: et-xmlfile in c:\users\johnp\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\johnp\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

# Setting Up

In [ ]:
import pandas as pd


# Setting to make number easier to read on display
pd.options.display.float_format = '{:20.2f}'.format

In [4]:
# Import dataset
df = pd.read_excel("./online+retail+ii/online_retail_II.xlsx", sheet_name = 0) # only read the first sheet
df.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.00,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.00,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.00,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.00,United Kingdom

# Exploratory Data Analysis

In [5]:
# Examine high-level view of our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [6]:
# Examine high-level view of numeric data
df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,525461.00,525461,525461.00,417534.00
mean,10.34,2010-06-28 11:37:36.845017856,4.69,15360.65
min,-9600.00,2009-12-01 07:45:00,-53594.36,12346.00
25%,1.00,2010-03-21 12:20:00,1.25,13983.00
50%,3.00,2010-07-06 09:51:00,2.10,15311.00
75%,10.00,2010-10-15 12:45:00,4.21,16799.00
max,19152.00,2010-12-09 20:01:00,25111.09,18287.00
std,107.42,NaN,146.13,1680.81

In [7]:
# Examine high-level view of non-numeric data
df.describe(include = 'O')

        Invoice StockCode                         Description         Country
count    525461    525461                              522533          525461
unique    28816      4632                                4681              40
top      537434    85123A  WHITE HANGING HEART T-LIGHT HOLDER  United Kingdom
freq        675      3516                                3549          485852

In [8]:
# Examine missing customer ID data
df[df["Customer ID"].isna()].head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
263,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.00,NaN,United Kingdom
283,489463,71477,short,-240,2009-12-01 10:52:00,0.00,NaN,United Kingdom
284,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.00,NaN,United Kingdom
470,489521,21646,NaN,-50,2009-12-01 11:44:00,0.00,NaN,United Kingdom
577,489525,85226C,BLUE PULL BACK RACING CAR,1,2009-12-01 11:49:00,0.55,NaN,United Kingdom
578,489525,85227,SET/6 3D KIT CARDS FOR KIDS,1,2009-12-01 11:49:00,0.85,NaN,United Kingdom
1055,489548,22271,FELTCRAFT DOLL ROSIE,1,2009-12-01 12:32:00,2.95,NaN,United Kingdom
1056,489548,22254,FELT TOADSTOOL LARGE,12,2009-12-01 12:32:00,1.25,NaN,United Kingdom
1057,489548,22273,FELTCRAFT DOLL MOLLY,3,2009-12-01 12:32:00,2.95,NaN,United Kingdom
1058,489548,22195,LARGE HEART MEASURING SPOONS,1,2009-12-01 12:32:00,1.65,NaN,United Kingdom

##### Even there are records with legit transactions, when we don't have a customer ID, we can't categorize or effectively work on that data because it's near impossible for us to infer which customer made this purchase so the strategy when we get to cleaning is to drop the null customer ID

In [9]:
# Interestingly, there are negative quantities so let's see what that data looks like
df[df['Quantity'] <0 ].head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.00,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.00,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.00,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
183,C489449,21871,SAVE THE PLANET MUG,-12,2009-12-01 10:33:00,1.25,16321.00,Australia
184,C489449,84946,ANTIQUE SILVER TEA GLASS ETCHED,-12,2009-12-01 10:33:00,1.25,16321.00,Australia
185,C489449,84970S,HANGING HEART ZINC T-LIGHT HOLDER,-24,2009-12-01 10:33:00,0.85,16321.00,Australia
186,C489449,22090,PAPER BUNTING RETRO SPOTS,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
196,C489459,90200A,PURPLE SWEETHEART BRACELET,-3,2009-12-01 10:44:00,4.25,17592.00,United Kingdom

In [29]:
# It is unclear if all the invoices with negative quantity have "C" in their invoice. Let's validate it
df_negative_quantity = df[df['Quantity'] < 0]
df_negative_quantity.loc[:, "Invoice"] = df_negative_quantity["Invoice"].astype("str")
df_negative_quantity[df_negative_quantity["Invoice"].str.match("^C\\d{6}$") == False]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
263,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.00,NaN,United Kingdom
283,489463,71477,short,-240,2009-12-01 10:52:00,0.00,NaN,United Kingdom
284,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.00,NaN,United Kingdom
470,489521,21646,NaN,-50,2009-12-01 11:44:00,0.00,NaN,United Kingdom
3114,489655,20683,NaN,-44,2009-12-01 17:26:00,0.00,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
524458,538092,37467,NaN,-177,2010-12-09 14:49:00,0.00,NaN,United Kingdom
525231,538159,21324,NaN,-18,2010-12-09 17:17:00,0.00,NaN,United Kingdom
525232,538158,20892,NaN,-32,2010-12-09 17:17:00,0.00,NaN,United Kingdom
525234,538161,46000S,Dotcom sales,-100,2010-12-09 17:25:00,0.00,NaN,United Kingdom
525235,538162,46000M,Dotcom sales,-100,2010-12-09 17:25:00,0.00,NaN,United Kingdom

In [30]:
df_negative_quantity_notnullID = df[(df['Quantity'] < 0) & (df['Customer ID'].notnull())]
df_negative_quantity_notnullID.loc[:, "Invoice"] = df_negative_quantity_notnullID["Invoice"].astype("str")
df_negative_quantity_notnullID[df_negative_quantity_notnullID["Invoice"].str.match("^C\\d{6}$") == False]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country]
Index: []

##### Invoices with negative quantity can either have C in their invoice with non-null customer ID, or null customer ID with no C in their invoice

In [31]:
# Examine if C is the only unique letter that appears in front of an invoice number
df["Invoice"].str.replace("[0-9]", "", regex = True).unique()

array([nan, 'C', 'A'], dtype=object)

In [32]:
# There is a letter "A" beside "C" in front of an invoice number. Let's see what these are
df[df["Invoice"].str.startswith("A", na= False)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
179403,A506401,B,Adjust bad debt,1,2010-04-29 13:36:00,-53594.36,NaN,United Kingdom
276274,A516228,B,Adjust bad debt,1,2010-07-19 11:24:00,-44031.79,NaN,United Kingdom
403472,A528059,B,Adjust bad debt,1,2010-10-20 12:04:00,-38925.87,NaN,United Kingdom

In [33]:
# StockCode is unusual as it should comprise 5-digit number (stated in the documentation), instead of letter "B". Examine the column StockCode
df["StockCode"] = df["StockCode"].astype("str")
df_not5digit = df[(df["StockCode"].str.match("^\\d{5}$") == False)]
df_not5digit.loc[:,"StockCode"].unique()

array(['79323P', '79323W', '48173C', ..., '85049g', '72803b', '79151B'],
      shape=(1675,), dtype=object)

In [35]:
# It appears that there are many StockCode that didn't follow the 5-digit patterns, but many StockCode ends with a Letter. Let's examine if there are other patterns
df_not5digit_endwletter = df[(df["StockCode"].str.match("^\\d{5}$") == False) & ((df["StockCode"].str.match("^\\d{5}[a-zA-Z]+$") == False))]
df_not5digit_endwletter.loc[:,"StockCode"].unique()

array(['POST', 'D', 'DCGS0058', 'DCGS0068', 'DOT', 'M', 'DCGS0004',
       'DCGS0076', 'C2', 'BANK CHARGES', 'DCGS0003', 'TEST001',
       'gift_0001_80', 'DCGS0072', 'gift_0001_20', 'DCGS0044', 'TEST002',
       'gift_0001_10', 'gift_0001_50', 'DCGS0066N', 'gift_0001_30',
       'PADS', 'ADJUST', 'gift_0001_40', 'gift_0001_60', 'gift_0001_70',
       'gift_0001_90', 'DCGSSGIRL', 'DCGS0006', 'DCGS0016', 'DCGS0027',
       'DCGS0036', 'DCGS0039', 'DCGS0060', 'DCGS0056', 'DCGS0059', 'GIFT',
       'DCGSLBOY', 'm', 'DCGS0053', 'DCGS0062', 'DCGS0037', 'DCGSSBOY',
       'DCGSLGIRL', 'S', 'DCGS0069', 'DCGS0070', 'DCGS0075', 'B',
       'DCGS0041', 'ADJUST2', '47503J ', 'C3', 'SP1002', 'AMAZONFEE'],
      dtype=object)

In [36]:
# Let's examine each unusual StockCode to understand what each represent
df[df["StockCode"].str.contains("POST")] # I will change the value in the "contains" for each unique unusual StockCode and summarize below

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
89,489439,POST,POSTAGE,3,2009-12-01 09:28:00,18.00,12682.00,France
126,489444,POST,POSTAGE,1,2009-12-01 09:55:00,141.00,12636.00,USA
173,489447,POST,POSTAGE,1,2009-12-01 10:10:00,130.00,12362.00,Belgium
625,489526,POST,POSTAGE,6,2009-12-01 11:50:00,18.00,12533.00,Germany
927,C489538,POST,POSTAGE,-1,2009-12-01 12:18:00,9.58,15796.00,United Kingdom
...,...,...,...,...,...,...,...,...
522916,537967,POST,POSTAGE,1,2010-12-09 11:31:00,18.00,12494.00,France
522930,537995,POST,POSTAGE,2,2010-12-09 11:39:00,18.00,12712.00,Germany
522974,538003,POST,POSTAGE,8,2010-12-09 12:05:00,18.00,12429.00,Denmark
523064,538008,POST,POSTAGE,5,2010-12-09 12:17:00,18.00,12683.00,France
524491,538093,POST,POSTAGE,5,2010-12-09 14:49:00,18.00,12682.00,France

In [37]:
df[df["StockCode"].str.contains("^DOT$")]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
2379,489597,DOT,DOTCOM POSTAGE,1,2009-12-01 14:28:00,647.19,NaN,United Kingdom
2539,489600,DOT,DOTCOM POSTAGE,1,2009-12-01 14:43:00,55.96,NaN,United Kingdom
2551,489601,DOT,DOTCOM POSTAGE,1,2009-12-01 14:44:00,68.39,NaN,United Kingdom
2571,489602,DOT,DOTCOM POSTAGE,1,2009-12-01 14:45:00,59.35,NaN,United Kingdom
2619,489603,DOT,DOTCOM POSTAGE,1,2009-12-01 14:46:00,42.39,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
524272,538071,DOT,DOTCOM POSTAGE,1,2010-12-09 14:09:00,885.94,NaN,United Kingdom
524887,538148,DOT,DOTCOM POSTAGE,1,2010-12-09 16:26:00,547.32,NaN,United Kingdom
525000,538149,DOT,DOTCOM POSTAGE,1,2010-12-09 16:27:00,620.68,NaN,United Kingdom
525126,538153,DOT,DOTCOM POSTAGE,1,2010-12-09 16:31:00,822.94,NaN,United Kingdom
525147,538154,DOT,DOTCOM POSTAGE,1,2010-12-09 16:35:00,85.79,NaN,United Kingdom

In [38]:
df[df["StockCode"].str.contains("^M$")]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
2697,489609,M,Manual,1,2009-12-01 14:50:00,4.00,NaN,United Kingdom
3053,C489651,M,Manual,-1,2009-12-01 16:48:00,5.10,17804.00,United Kingdom
5897,C489859,M,Manual,-1,2009-12-02 14:45:00,69.57,NaN,United Kingdom
9259,C490126,M,Manual,-1,2009-12-03 18:12:00,5.95,15884.00,United Kingdom
9307,C490129,M,Manual,-1,2009-12-03 18:26:00,1998.49,15482.00,United Kingdom
...,...,...,...,...,...,...,...,...
521074,537800,M,Manual,12,2010-12-08 13:08:00,0.19,12748.00,United Kingdom
521122,537804,M,Manual,12,2010-12-08 13:17:00,2.95,12748.00,United Kingdom
521124,537804,M,Manual,12,2010-12-08 13:17:00,0.19,12748.00,United Kingdom
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50,15329.00,United Kingdom
524776,538147,M,Manual,1,2010-12-09 16:11:00,15.00,13090.00,United Kingdom

## StockCode Unusual Codes

##### <li> StockCode is meant to follow the paterrn <strong> [0-9]{5} </strong> but seems to have legit values for <strong> [0-9]{5}[a-zA-Z]+</strong>. It also contains other values as listed below: </li>
| Code | Description | Impact if Included | Action |
| --- | --- | --- | --- |
| ADJUSTX | Looks like manual account adjustments by admins | Not tied to customer purchasing behavior| Exclude |
| AMAZONFEE | Looks like fees for Amazon shipping or something | Not tied to customer purchasing behavior| Exclude | 
| BANK CHARGES or B | Bank charges | Not tied to customer purchasing behavior| Exclude | 
| C2 | Carriage transaction - not sure what this means | Adds noise, not enough data to generalize | Exclude | 
| C3 | Not sure, only 1 transaction | Adds noise, not enough data to generalize |Exclude |
| DCGS | Looks valid, some quantities are negative though and customer ID is null | Can't link to customer profiles | Exclude | 
| D | Looks valid, represents discount values | Can't link to customer profiles | Exclude | 
| DOT | Looks valid, represents postage charges | Can't link to customer profiles| Exclude | 
| gift__XXX | Purchases with gift cards, might be interesting for another analysis, but no customer data | Can't link to customer profiles | Exclude |
| M or m | Looks valid, represents manual transactions | Can't link to customer profiles|  Exclude | 
| PADS | Looks like a legit stock code for padding | Tied to customer purchasing behavior | Include | 
| S | Samples sent to customer | Add noises, Not reflective of actual purchases | Exclude | 
| SP1002 | Looks like a special request item, only 2 transactions, 3 look legit, 1 has 0 pricing | Adds noise, not enough data to generalize | Exclude | 
| TESTXXX | Testing data, not valid | Adds noise, not enough data to generalize | Exclude |

##### Why This Matters?
<li> Outliers and irrelevant data can skew centroids in Customer Segmentation and produce misleading clusters, thus removing them improve the quality and interpretability of customer clusters </li>

# Data Cleaning

In [39]:
# Create a new dataframe as a copy of our original dataframe
cleaned_df = df.copy()

In [40]:
# Clean the first column, Invoice

# Adjust data type to string so that we can apply regex as there are specific patterns that we want to filter out, aka those with letter "C" or "A"
cleaned_df["Invoice"] = cleaned_df["Invoice"].astype("str")

# Create a new variable "mask" as a filter expression
mask = (
    cleaned_df["Invoice"].str.match("^\\d{6}$") == True
)

# Apply filter "mask" to get Invoice with only 6-digit code -- here we got 515,252 records
cleaned_df = cleaned_df[mask]
cleaned_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.00,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.00,United Kingdom

In [42]:
# Adjust a variable "mask" as a filter expression for StockCode column
cleaned_df["StockCode"] = cleaned_df["StockCode"].astype("str")

mask = (
    (cleaned_df["StockCode"].str.match("^\\d{5}$") == True)
    | (cleaned_df["StockCode"].str.match("^\\d{5}[a-zA-Z]+$") == True) # Matches StockCode that starts with one-or-more upper-or lower case letters and also ends with it
    | (cleaned_df["StockCode"].str.match("^PADS$") == True)
)   

cleaned_df = cleaned_df[mask]
cleaned_df

C:\Users\JohnP\AppData\Local\Temp\ipykernel_23036\3693338055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["StockCode"] = cleaned_df["StockCode"].astype("str")

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.00,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.00,United Kingdom

In [43]:
# "Description" Column shouldn't have any issue
# "Quantity" column may contain negative values, and from our EDA, negative values tend to belong to Null "CustomerID".

# Remove Null CustomerID
cleaned_df.dropna(subset=["Customer ID"], inplace = True)
cleaned_df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,406337.00,406337,406337.00,406337.00
mean,13.62,2010-07-01 10:11:06.543288320,2.99,15373.63
min,1.00,2009-12-01 07:45:00,0.00,12346.00
25%,2.00,2010-03-26 14:01:00,1.25,14004.00
50%,5.00,2010-07-09 15:48:00,1.95,15326.00
75%,12.00,2010-10-14 17:09:00,3.75,16814.00
max,19152.00,2010-12-09 20:01:00,295.00,18287.00
std,97.00,NaN,4.29,1677.37

In [44]:
# "Price" Column appears to have 0 as minimum, which may impact our customer analysis. Let's check how many instances of 0 price and remove them
len(cleaned_df[cleaned_df["Price"] == 0])

28

In [45]:
# Only 28 instances of 0 price so it is okay to drop these records
cleaned_df = cleaned_df[cleaned_df["Price"] > 0]

cleaned_df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,406309.00,406309,406309.00,406309.00
mean,13.62,2010-07-01 10:14:25.869572352,2.99,15373.72
min,1.00,2009-12-01 07:45:00,0.00,12346.00
25%,2.00,2010-03-26 14:01:00,1.25,14006.00
50%,5.00,2010-07-09 15:48:00,1.95,15326.00
75%,12.00,2010-10-14 17:09:00,3.75,16814.00
max,19152.00,2010-12-09 20:01:00,295.00,18287.00
std,97.00,NaN,4.29,1677.33

In [46]:
# It appears that there are instances whose prices are around 0. Let's check them
print(cleaned_df["Price"].min())
print(len(cleaned_df[cleaned_df["Price"] == cleaned_df["Price"].min()]))
# Since these $0.01 records account for only 14 rows, it is okay to include them

0.001
14

In [47]:
# Export cleaned dataframe for further customer analysis
cleaned_df.to_excel('cleaned_df.xlsx', index=False)

In [48]:
# Data cleaning is completed. Let's check how much data we have left
print(f"Data dropped after cleaning: {1 - len(cleaned_df)/len(df):.2%}")
print(f"Data remain after cleaning: {len(cleaned_df)/len(df):.2%}")
print(f"Rows dropped after cleaning: {df.shape[0] - cleaned_df.shape[0]:,} rows ({1 - len(cleaned_df)/len(df):.2%})")
print(f"Rows remain after cleaning: {cleaned_df.shape[0]:,} rows ({len(cleaned_df)/len(df):.2%})")

Data dropped after cleaning: 22.68%
Data remain after cleaning: 77.32%
Rows dropped after cleaning: 119,152 rows (22.68%)
Rows remain after cleaning: 406,309 rows (77.32%)

## Assumptions
Negative Quantity = Invalid Transaction
<li> Assumes negative quantities are errors or irrelevant (e.g., returns or adjustments). </li>
<li> Assumes they shouldn't be included in sales or customer analysis. </li>

Unusual StockCode = Non-Standard Product
<li>Assumes only codes following a strict pattern (e.g., 5-digit or 5-digit + letter, PADS) are valid.</li>
<li>Excludes promotional items, packaging, or services that may use different codes.</li>

Invoices with "C" or "A" = Non-Sales Events
<li>Assumes cancellations ("C") and accounting adjustments ("A") should be excluded from customer analysis.</li>

Null CustomerID = Non-Actionable Record
<li>Assumes records without customer IDs can't be linked to meaningful behavior or segmentation.</li>

## Questions to Ask Stakeholders

After applying initial cleaning rules: removing records with negative quantities, null customer IDs, unusual stock codes, and cancellation/accounting invoices, we’ve excluded about 23% of the data.
1. Are these exclusions acceptable for our analysis goals? 
2. Are there any edge cases or business rules we should reconsider before proceeding?

About Product Codes
1. Do all valid products follow the 5-digit or 5-digit + letter or PADS StockCode pattern?
2. Are there special codes in StockCode that we should retain?